
.BlueDiv { background-color: #6600cc; color:#ffffff;width:200px;}
.RedDiv { background-color: #cc0000; color:#ffffff; width:200px;}
.Highlight {background-color: #ff7f00;}
.style1
        {
            width: 100%;
        }
